{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        .container{
            text-align: center;
        }

      
    </style>
   
</head>
<body id='bg' style="background-image: url(' {% static 'images/Logo1.jpg' %}');" >
    

        
    <div class="container">
   
    <h1 ><a href="{% url 'login' %}">Login</a></h1>
    <h1 ><a href="{% url 'register' %}" >Register</a></h1>
    
    
    
</div>
</body>
</html>